.container{
    width:35%;
}

.inputs{
    text-align:center;
    margin:5px;
    width:100%;
}

input[type=submit]{
    text-align:center;width:35%;
    position: absolute;

}

input[type=email] , input[type=password]{
    width:50%;
}
.parent { 
    display:flex;
}
.child {
    flex-basis: 100%;
}